[submodule "externals/platform.js"]
	path = externals/platform.js
	url = https://github.com/bestiejs/platform.js
	ignore = all
[submodule "externals/sprintf"]
	path = externals/sprintf
	url = https://github.com/maritz/node-sprintf
	ignore = all
[submodule "externals/exit"]
	path = externals/exit
	url = https://github.com/cowboy/node-exit.git
	ignore = all
[submodule "externals/deep-freeze"]
	path = externals/deep-freeze
	url = https://github.com/substack/deep-freeze.git
	ignore = all
[submodule "externals/ansicolors"]
	path = externals/ansicolors
	url = https://github.com/thlorenz/ansicolors.git
	ignore = all
[submodule "externals/detect-indent"]
	path = externals/detect-indent
	url = https://github.com/sindresorhus/detect-indent.git
	ignore = all
[submodule "externals/graceful-fs"]
	path = externals/graceful-fs
	url = https://github.com/isaacs/node-graceful-fs.git
	ignore = all
[submodule "externals/rimraf"]
	path = externals/rimraf
	url = https://github.com/isaacs/rimraf.git
	ignore = all
